<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-2">	
					<label>Bibliotek</label>
					{{view Ember.Select classNames="form-control" content=controllers.application.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=currentLocation}}
				</div>
				<div class="col-xs-2">
				<label>Statusgrupp</label>
					{{view Ember.Select classNames="form-control" content=controllers.application.status_groups optionValuePath="content.label" optionLabelPath="content.nameSv" value=currentStatusGroup}}
				</div>
				<div class="col-xs-2">
					<div id="query-form">
						<label>Sök i fritext</label>
						{{input type="text" class="form-control" value=query placeholder="fritext..."}}
						<div class="clear-me" {{action 'clearSearch'}}><i class="fa fa-times-circle"></i></div>
					</div>
				</div>
				<div class="col-xs-6 padding-top-25">
					<form  id="media-type-filter" class="form " role="form" class="form-inline">
						<label>
							{{loan.name}}
							{{view Ember.Checkbox disabled=loan.disabled checked=loan.active}}
						</label>

						<label>
							{{copy.name}}
							{{view Ember.Checkbox disabled=copy.disabled checked=copy.active}}
						</label>
					</form>
					<form  id="owner-filter" class="form form-inline" role="form">
						<label>
							Mina ordrar						
							{{view Ember.Checkbox checked=user.active}}
						</label>
					</form>
					<div id="action-buttons">
						<button class="btn btn-primary" {{action 'resetFilter'}} title="Återställ filter"><span>Återställ filter</span> <i class="fa fa-undo"></i></button>
						{{#if extraFilterVisible}} 
							<button class="btn btn-primary" {{action 'toogleExtraFilter'}} title="Visa fler filter">Färre filter <i class="fa fa-minus"></i></button>
						{{else}}
							<button class="btn btn-primary" {{action 'toogleExtraFilter'}} title="Göm filter">Fler filter <i class="fa fa-plus"></i></button>
						{{/if}}
					</div>
				</div>
			</div>
			{{#if extraFilterVisible}}
				<div class="row top-space-15">
					<div class="col-xs-3">
					<label>Leveransställe</label>
						 {{view Ember.Select classNames="form-control" content=controllers.application.delivery_sources optionValuePath="content.label" optionLabelPath="content.name" value=currentLocationSource prompt='Alla leveransställen'}}
					</div>
					<div class="col-xs-3">
					<label>Arkiverade & Aktiva</label>
						 {{view Ember.Select classNames="form-control" content=controllers.application.archivedFilter optionValuePath="content.value" optionLabelPath="content.label" value=currentArchivedFilter prompt='Visa både aktiva och arkiverade'}}
					</div>
				</div>
			{{/if}}
			<div class="row top-space-30">
				<div class="col-xs-12">
				{{#if model}}
					<div class="row">
						<div class="col-xs-12">
							Fjärrkontrollen hittade <strong>{{model.meta.query.total}} </strong>ordrar
						</div>
					</div>
					<div class="row padding-top-25">
						<div class="col-xs-12">
							<table class="table table-striped table-condensed">
						    	<tr>
							    	<th {{bind-attr class=":ordernumber sortCols.ordernumber.active:active"}}>
							    		<a href="javascript:void();" {{action 'sortMe' sortCols.ordernumber}}>Ordernummer</a> 
								    	{{#if sortCols.ordernumber.active}}
								    		{{get-sort-dir-arrow sortCols.ordernumber.sortDir}}
								    	{{/if}}
							    	</th>
							    	<th>
							    		Metadata
							    	</th>
							    	<th {{bind-attr class="sortCols.customer.active:active"}}>
							    		<a href="javascript:void();" {{action 'sortMe' sortCols.customer}}>Låntagare</a>
										{{#if sortCols.customer.active}}
								    		{{get-sort-dir-arrow sortCols.customer.sortDir}}
								    	{{/if}}
							    	</th>
							    	<th {{bind-attr class=":ordertype sortCols.type.active:active"}}>
							    		<a href="javascript:void();" {{action 'sortMe' sortCols.type}}>Typ</a>
										{{#if sortCols.type.active}}
								    		{{get-sort-dir-arrow sortCols.type.sortDir}}
								    	{{/if}}
							    	</th>
							    	<th {{bind-attr class="sortCols.customer.active:active"}}>
							    		<a href="javascript:void();" {{action 'sortMe' sortCols.title}}>Titel</a>
										{{#if sortCols.title.active}}
								    		{{get-sort-dir-arrow sortCols.title.sortDir}}
								    	{{/if}}
							    	</th>
							    	<th {{bind-attr class="sortCols.customer.active:active"}}>
							    		<a href="javascript:void();" {{action 'sortMe' sortCols.status}}>Status</a>
										{{#if sortCols.status.active}}
								    		{{get-sort-dir-arrow sortCols.status.sortDir}}
								    	{{/if}}
							    	</th>
							    	<th>Handläggare</th>	
						    	</tr>
								{{#each item in model}}

										<tr class="{{unbound mark-if-last-order-visisted item.orderNumber}}">
							    			<td>
							    			{{#link-to 'fjarr-in.post' item.id}}{{item.orderNumber}}{{/link-to}} 
							    			</td>

							    			<td>
												{{#if item.isArchived}}
								    				<i class="fa fa-archive" title="Ordern är arkiverad"></i>
								    			{{/if}}
								    			{{#if item.librisRequestId}}
								    				<span class="badge">Libris</span>
								    			{{/if}}
												{{#if item.stickyNoteId}}
													<div class="stickyNote">
								    					<span class="badge"><i class="fa fa-file-text-o"></i></span>
										    				<div class="stickyNoteContent well well-sm">
										    					{{#if item.stickyNoteSubject}}
										    						<h4>{{item.stickyNoteSubject}}</h4>
										    					{{/if}}
										    					{{#if item.stickyNoteMessage}}
										    						<p>
										    							{{item.stickyNoteMessage}}
										    						</p>
										    					{{/if}}
										    				</div>
										    		</div>
								    			{{/if}}
							    			</td>
							    			<td>{{trim-string item.name}}</td>
							    			<td class="ordertype">
							    			  {{ordertype-name item.orderTypeId}}
							    			</td>
							    			<td>{{trim-string item.title}}</td>
							    			<!--<td>{{item.formLibrary}}</td>-->
											<td>{{status-name item.statusId}}</td>
											<td>
												<i {{bind-attr id=item.id}} class="fa fa-spinner"></i>
												<div class="btn-group">
												  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
												  {{#if item.userId}}
												  	{{user-name item.userId}} <span class="caret"></span>
												  {{else}}
												  	Ingen <span class="caret"></span>
												  {{/if}}
												  </button>
												  <ul class="dropdown-menu" role="menu">
												    <li><a href="#" {{action 'switchOwner' item.id session.userid}} {{session.username}}</a>
												   	</li>
												    <li><a {{action 'removeOwner' item.id}} href="#">Släpp order</a></li>	
												  </ul>
												</div>
											</td>
							    		</tr>
							    	{{/each}}
						    </table> 
					    </div>
				    </div>
				   {{else}}
				   		{{#if zeroOrdersFound}}
				    		<p>Finns inga ordrar att visa</p>
				    	{{/if}}
			    	{{/if}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 center-within">
			{{pagination-pager pagination=model.meta.pagination currentpage=currentPage}}					
		</div>
	</div>
</div>
