<div class="container-fluid">
	<div id="topbar-single-order" class="row">
		<div class="col-xs-12">
			<a href="javascript:window.history.go(-1)"><i class="fa fa-chevron-left"></i> Tillbaka</a>
			<div class="topbar-actions pull-right">
				<ul class="list-unstyled">
					<li><a target="_blank" href="{{unbound getPrintOrderUrl}}" ><i class="fa fa-print"></i> Beställning</a></li>
					<li><a target="_blank" href="{{unbound getPrintDeliveryNoteUrl}}" ><i class="fa fa-print"></i> Bokslip</a></li>
				</ul>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<div class="row" id="global-settings-order" {{bind-attr class="isEditingGlobalOrder:isEditing"}}>
				<div class="col-xs-12"> 
					<div id="global-settings-order-header" class="row">
						<div class="col-xs-8">
							<h2>{{order.orderNumber}}</h2> 
						</div>
						<div class="col-xs-4 single-order-toolbar" id="global-settings-order-actions">
							{{#if isEditingGlobalOrder}}
								<a href="#" class="btn btn-default btn-sm pull-right" {{action 'saveGlobalOrderMetaData'}}>Spara <i class="fa fa-check last"></i></a>
								<a href="#" class="pull-right btn btn-sm btn-default" {{action 'resetGlobalMetaData'}}>Stäng <i class="fa fa-times"></i></a>
							{{else}}
								<a href="#" class="pull-right btn btn-sm btn-primary" {{action 'enterGlobalEditMode'}}>Redigera <i class="fa fa-pencil last"></i></a>
							{{/if}}
						</div>
					</div> 
					<div class="row">
						<div class="col-xs-6">
							<form class="form-inline">
								<h4>Handläggande enhet:</h4>
								{{#if isEditingGlobalOrder}}
									{{view Ember.Select classNames="form-control" content=controllers.application.locations optionValuePath="content.id" optionLabelPath="content.nameSv" value=order.locationId}}
								{{else}}
									{{location-name order.locationId}}
								{{/if}}

								<h4>Status:</h4> 
								{{#if isEditingGlobalOrder}}
									 {{view Ember.Select classNames="form-control" content=controllers.application.statuses optionValuePath="content.id" optionLabelPath="content.nameSv" value=order.statusId optionDisabledPath="content.isDisabled"}}
								{{else}}
									{{status-name order.statusId}}
								{{/if}}

								<h4>Arkivera:</h4> 
								{{#if isEditingGlobalOrder}}
								 <div class="checkbox">
								    <label>
								      {{input type="checkbox" checked=order.isArchived}} Arkiverad
								    </label>
								  </div>
								{{else}}
								<div class="checkbox">
								    <label>
								     	{{input type="checkbox" disabled="true" checked=order.isArchived}} Arkiverad
								    </label>
								</div>
								{{/if}}
							</form>
						</div> 


						<div class="col-xs-3">
							<form>
								<h4>Utlånande bibliotek: </h4> 
								{{#if isEditingGlobalOrder}}
									{{input classNames="form-control" type="text" value=order.lendingLibrary}}
								{{else}}
									{{#if order.lendingLibrary}}
										{{order.lendingLibrary}}
									{{else}}
										Ej angivet
									{{/if}}
								{{/if}}
								<h4>Levererad från: </h4> 
								{{#if isEditingGlobalOrder}}
									 {{view Ember.Select classNames="form-control" content=controllers.application.deliverySourcesActiveOnly optionValuePath="content.id" optionLabelPath="content.name" value=order.deliverySourceId prompt='Ej vald'}}
								{{else}}
									{{#if order.deliverySourceId}}
										{{source-name order.deliverySourceId}}
									{{else}}
										Ej vald
									{{/if}}
								{{/if}}
							</form>
						</div>
						<div class="col-xs-3">
							<form>


							<h4>Återlämningsdatum: </h4> 
							{{#if isEditingGlobalOrder}}
								{{input classNames="form-control" type="text" value=order.loanPeriod}}
							{{else}}
								{{#if order.loanPeriod}}
									{{order.loanPeriod}}
								{{else}}
									Ej angivet
								{{/if}}
							{{/if}}

							<h4>Pris (SEK): </h4> 
							{{#if isEditingGlobalOrder}}
								{{input classNames="form-control" type="text" value=order.price}}
							{{else}}
								{{#if order.price}}
									{{order.price}}
								{{else}}
									Ej angivet
								{{/if}}
							{{/if}}

							<h4>Ska faktureras: </h4> 
								{{#if isEditingGlobalOrder}}
								 <div class="checkbox">
								    <label>
								      {{input type="checkbox" checked=order.toBeInvoiced}} Ska faktureras
								    </label>
								  </div>
								{{else}}
								<div class="checkbox">
								    <label>
								     	{{input type="checkbox" disabled="true" checked=order.toBeInvoiced}} Ska faktureras
								    </label>
								</div>
								{{/if}}


							</form>
						</div>

					</div>
				</div>

			</div>
			<div class="row top-space-30">
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-12">
							<h4>Orderkort</h4>
						</div>
					
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div {{bind-attr class="isEditingGlobalOrder:isEditing"}}>
								<table class="table table-striped">
									<tr  title="Titel">
										<th>Titel: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control input-sm" type="text" value=order.title}}
											{{else}}
												{{order.title}}
											{{/if}}
										</td>
										
									</tr>
									<tr  title="Libris LF Number">
										<th>Libris LF Number: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.librisLfNumber}}
											{{else}}
												{{order.librisLfNumber}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Libris Request Id">
										<th>Libris Request Id: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.librisRequestId}}
											{{else}}
												{{order.librisRequestId}}
											{{/if}}
										</td>
									</tr>									
									<tr  title="Libris Id">
										<th>Libris Id: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.librisid}}
											{{else}}
												{{order.librisid}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Övrig Librisdata">
										<th>Övrig Librisdata: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.librismisc}}
											{{else}}
												{{fix-new-line order.librismisc}}
											{{/if}}
										</td>
									</tr>	
									<tr  title="Författare">
										<th>Författare: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.authors}}
											{{else}}
												{{order.authors}}
											{{/if}}
										</td>
									</tr>

									<tr  title="ISSN/ISBN">
										<th>ISSN/ISBN: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.issnIsbn}}
											{{else}}
												{{order.issnIsbn}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Tidskriftstitel">
										<th>Tidskriftstitel: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.journalTitle}}
											{{else}}
												{{order.journalTitle}}
											{{/if}}
										</td>
									</tr>
									</tr>
									<tr  title="Publiceringsår">
										<th>Publiceringsår: </th>
										<td>								
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.publicationYear}}
											{{else}}
												{{order.publicationYear}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Volym">
										<th>Volym: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.volume}}
											{{else}}
												{{order.volume}}
											{{/if}}
										</td>

									<tr  title="Nummer">
										<th>Nummer: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.issue}}
											{{else}}
												{{order.issue}}
											{{/if}}
										</td>

									</tr>
									<tr  title="Sidor">
										<th>Sidor: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.pages}}
											{{else}}
												{{order.pages}}
											{{/if}}
										</td>

									</tr>
									<tr  title="Period">
										<th>Period: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.period}}
											{{else}}
												{{order.period}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Publikationstyp">
										<th>Publikationstyp: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.publicationType}}
											{{else}}
												{{order.publicationType}}
											{{/if}}
										</td>
									</tr>

									<tr  title="Beställningstyp">
										<th>Beställningstyp: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{view Ember.Select classNames="form-control" content=controllers.application.ordertypes optionValuePath="content.id" optionLabelPath="content.nameSv" value=order.orderTypeId}}
											{{else}}
												{{ordertype-name order.orderTypeId}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Leveransalternativ">
										<th>Leveransalternativ: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.deliveryPlace}}
											{{else}}
												{{order.deliveryPlace}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Kopior om ej lån">
										<th>Kopior om ej lån: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{view Ember.Select classNames="form-control" content=photocopiesIfLoanNotPossible optionValuePath="content.value" optionLabelPath="content.label" value=order.photocopiesIfLoanNotPossible}}
											{{else}}
												{{#if order.photocopiesIfLoanNotPossible}}
													<i class="fa fa-check"></i>
												{{else}}
													<i class="fa fa-times"></i>
												{{/if}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Utanför Norden">
										<th>Utanför Norden: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{view Ember.Select classNames="form-control" content=orderOutsideScandinavia optionValuePath="content.value" optionLabelPath="content.label" value=order.orderOutsideScandinavia}}
											{{else}}
												{{#if order.orderOutsideScandinavia}}
													<i class="fa fa-check"></i>
												{{else}}
													<i class="fa fa-times"></i>
												{{/if}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Ej aktuell efter">
										<th>Ej aktuell efter: </th>
										<td>
											{{#if isEditingGlobalOrder}}
												{{input classNames="form-control" type="text" value=order.notValidAfter}}
											{{else}}
												{{order.notValidAfter}}
											{{/if}}
										</td>
									</tr>
									<tr  title="Kommentar">
										<th>Kommentar: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.comments}}</td>
										{{else}}
											<td>{{order.comments}}</td>
										{{/if}}								
									</tr>
								</table>
							</div> <!-- end panel --> 
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-12">
							<h4>Låntagare</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div {{bind-attr class="isEditingGlobalOrder:isEditing"}}>
								<table class="table table-striped">
									<tr title="Namn">
										<th>Namn: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.name}}</td>
										{{else}}
											<td>{{order.name}}</td>
										{{/if}}
									</tr>
									<tr  title="Organisation">
										<th>Organisation: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.company1}}</td>
										{{else}}
											<td>{{order.company1}}</td>
										{{/if}}
									</tr>
									<tr  title="Institution">
										<th>Institution: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.company2}}</td>
										{{else}}
											<td>{{order.company2}}</td>
										{{/if}}
										
									</tr>
									<tr  title="Avdelning">
										<th>Avdelning: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.company3}}</td>
										{{else}}
											<td>{{order.company3}}</td>
										{{/if}}
									</tr>
									<tr  title="Telefon">
										<th>Telefon: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.phoneNumber}}</td>
										{{else}}
											<td>{{order.phoneNumber}}</td>
										{{/if}}
										
									</tr>
									<tr  title="E-post">
										<th>E-post: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.emailAddress}}</td>
										{{else}}
											<td>{{order.emailAddress}}</td>
										{{/if}}
									</tr>
									<tr  title="Lånekortsnummer">
										<th>Lånekortsnummer: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.libraryCardNumber}}</td>
										{{else}}
											<td>{{order.libraryCardNumber}}</td>
										{{/if}}
									</tr>
									<tr  title="X-konto">
										<th>X-konto: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.xAccount}}</td>
										{{else}}
											<td>{{order.xAccount}}</td>
										{{/if}}
									</tr>									
									<tr  title="Kundtyp">
										<th>Kundtyp: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.customerType}}</td>
										{{else}}
											<td>{{order.customerType}}</td>
										{{/if}}						
									</tr>

									<tr  title="Språkval i formulär">
										<th>Språkval i formulär: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.formLang}}</td>
										{{else}}
											<td>{{order.formLang}}</td>
										{{/if}}			
									</tr>
								</table>
								<div class="row">
									<div class="col-xs-12">
										<h4>Leveransuppgifter</h4>
									</div>
								</div>								
								<table class="table table-striped">
									<tr  title="Företag">
										<th>Företag: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.deliveryCompany}}</td>
										{{else}}
											<td>{{order.deliveryCompany}}</td>
										{{/if}}							
									</tr>
									<tr  title="Namn">
										<th>Namn: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.deliveryName}}</td>
										{{else}}
											<td>{{order.deliveryName}}</td>
										{{/if}}							
									</tr>									
									<tr  title="Gatuadress/Box">
										<th>Gatuadress/Box: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.deliveryAddress}}</td>
										{{else}}
											<td>{{order.deliveryAddress}}</td>
										{{/if}}		
									</tr>
									<tr  title="Postnummer">
										<th>Postnummer: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.deliveryPostalCode}}</td>
										{{else}}
											<td>{{order.deliveryPostalCode}}</td>
										{{/if}}								
									</tr>
									<tr   title="Ort">
										<th>Ort: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.deliveryCity}}</td>
										{{else}}
											<td>{{order.deliveryCity}}</td>
										{{/if}}								
									</tr>
								</table>
								<div class="row">
									<div class="col-xs-12">
										<h4>Faktureringsuppgifter</h4>
									</div>
								</div>								
								<table class="table table-striped">
									<tr  title="Namn">
										<th>Namn: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingName}}</td>
										{{else}}
											<td>{{order.invoicingName}}</td>
										{{/if}}							
									</tr>
									<tr  title="Företag">
										<th>Företag: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingCompany}}</td>
										{{else}}
											<td>{{order.invoicingCompany}}</td>
										{{/if}}							
									</tr>										
									<tr  title="Gatuadress/Box">
										<th>Gatuadress/Box: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingAddress}}</td>
										{{else}}
											<td>{{order.invoicingAddress}}</td>
										{{/if}}		
									</tr>
									<tr  title="Postnummer">
										<th>Postnummer: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingPostalAddress1}}</td>
										{{else}}
											<td>{{order.invoicingPostalAddress1}}</td>
										{{/if}}								
									</tr>
									<tr   title="Ort">
										<th>Ort: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingPostalAddress2}}</td>
										{{else}}
											<td>{{order.invoicingPostalAddress2}}</td>
										{{/if}}								
									</tr>
									<tr  title="Beställarid">
										<th>Beställarid: </th>
										{{#if isEditingGlobalOrder}}
											<td>{{input classNames="form-control" type="text" value=order.invoicingId}}</td>
										{{else}}
											<td>{{order.invoicingId}}</td>
										{{/if}}		
									</tr>
								</table>
							</div> <!-- end panel -->
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-4">
			{{view "correspondence"}}
		</div>
	</div>
</div>
